@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome to the Pizza Shop</h1>
    <h4>A piping hot and ready Razor pages application</h4>
    <img style="width:600px; height:600px ; " class="mainImage mt-5" src="~/images/Bolognese.png" />
    <br/>
    <a class="btn btn-primary mt-2" asp-area="" asp-page="Checkout/ThankYou">Give Me Pizza</a>
</div>
